<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">


<h1 class="display-4">Welcome</h1>
<h1 class="display-4">Application Web - BigData Clase - Taller 2</h1>


<a class="btn btn-primary" href="presentacionDB/">Presentacion DB</a>
<a class="btn btn-primary" href="charts/">Charts</a>
<a class="btn btn-primary" href="hashtagWordCloud/">Word Cloud</a>

